/* src/components/Navbar.css */

.navbar-container {
  background-color: #d5ccbb;
  color: #d5ccbb;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;

  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo img {
  width: 180px;
  height: 210px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  margin-top: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #888076;
  /* Change the color on hover as desired */
}

.nav-links li.active a {
  color: black;
  transform: scale(1.1); /* Increase size by 10% */
}
