@tailwind base;
@tailwind components;
@tailwind utilities;

.imageboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.imageboard img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
